html, body {
    height: 100%;
    font-family: Cabin;
}

.container-fluid {
    height: 600px;
    background-image: url(../../assets/uclaheader.png);
    /* This is what makes the background image rescale based on the container's size */
    background-size: cover;

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
  
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
        the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* Set a background color that will be displayed
        while the background image is loading */
    background-color: #464646;
    background-color: rgba(244, 207, 76, 0.4);
    background-blend-mode: multiply;
}

.text {
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    text-shadow: -1px 1px 0 white,
				  1px 1px 0 white,
				 1px -1px 0 white,
				-1px -1px 0 white;
    color: black;
    font-size: 60px; 
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}