html, body {
    height: 100%;
}

#content {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, pink 45%, cyan 55%);
    position: absolute;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
    z-index: -1;
}