h1 {
    margin-top: 5%;
    text-align: center;
}

li {
    align-items: center;
    display: inline-block;
    justify-content: space-evenly;
    vertical-align: top;
    width: 33%;
}

p {
    margin-left: 5%;
    margin-right: 5%;
}