.header {
    text-align: center;
}

.profile {
    align-items: center;
    display: inline-block;
    justify-content: space-evenly;
    vertical-align: top;
    width: 33%;
}

.profDesc {
    margin-left: 5%;
    margin-right: 5%;
}