#countdown-box {
    display: flex;
    justify-content: center;
    width: 626px;
    background-color: aqua;
    margin: auto;
	font-family: raleway;
}

.number-font {
    font-size: 80px;
    text-align: center;
    justify-content: left;
}

.text-font {
    font-size: 20px;
}

